body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%; /* top left-right bottom */
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem; /* now all text aligned perfectly */
  /* top right-left bottom */
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
}

.nav-item {
  /* So that there is space between items , we can on individually easily */
  padding: 0 18px;
}

/* going much deeper to change the properties */
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download button */
/* its better to add your custom classes to change the default bootstrap styling */

.download-button {
  margin: 5% 3% 5% 0;
}

/* adding space between fontawesome icons */
.download-icon {
  margin-right: 5px;
}

/* title image */

.title-image {
  /* this will 60% width in desktop and in ipad as well */
  width: 60%;
  /* rotating 25 degree clockwise */
  transform: rotate(25deg);
  position: absolute; /* to take it out of the flow and send it behind using z-index of features section */
  right: 30%;
}

/* Features Section */

h3 {
  font-family: "Montserrat";
  font-weight: 900; /* Black and Bold*/
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#features {
  padding: 7% 15%;
  /* top-bottom left-right */
  font-size: 2rem;
  position: relative;
  /* z-index: 1; don't need because elements after in the flow sits on another */
  z-index: 1;

  /* set the color so that it stays there when sending image behind */
  background-color: #fff; /* to remove transparency */
}

.feature-box {
  text-align: center;
  padding: 5%; /* to all four sides */
}

/* Testimonail Sections */

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%; /* fully round radius*/
  margin: 20px; /* all four sides */
}

.carousal-item {
  padding: 7% 15%;
}

#testimonials {
  background-color: #ef8172;
  padding: 7% 15%; /* top-bottom left-right */
  text-align: center;
  color: #fff;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px; /* top bottom left-right */
}

/* Pricing Section */

#pricing {
  padding: 150px;
  text-align: center;
  font-size: 2rem;
}

.pricing-column {
  padding: 3% 2%;
}
