/* Put all elements selectors together */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Heading Section */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  /* padding: 3% 15% 7%; top left-right bottom */
  padding: 7% 15%;
}

/* Sections  */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

white-section {
  background-color: #fff;
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem; /* now all text aligned perfectly */
  /* top right-left bottom */
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
}

.nav-item {
  /* So that there is space between items , we can on individually easily */
  padding: 0 18px;
}

/* going much deeper to change the properties */
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title .container-fluid {
  /* this will be applied to container fluid that is conainted title section only*/
  /* since this is more specific selector so this will override general container
  fluid properties */
  padding: 3% 15% 7%; /* top left-right bottom */
  text-align: left;
}

/* Download button */
/* its better to add your custom classes to change the default bootstrap styling */

.download-button {
  margin: 5% 3% 5% 0;
}

/* adding space between fontawesome icons */
.download-icon {
  margin-right: 5px;
}

/* title image */

.title-image {
  /* this will 60% width in desktop and in ipad as well */
  width: 60%;
  /* rotating 25 degree clockwise */
  transform: rotate(25deg);
  position: absolute; /* to take it out of the flow and send it behind using z-index of features section */
  right: 30%;
}

/* Features Section */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-title {
  line-height: 1.5rem;
}

#features {
  font-size: 2rem;
  position: relative;
  /* z-index: 1; don't need because elements after in the flow sits on another */
  z-index: 1;

  /* set the color so that it stays there when sending image behind */
  background-color: #fff; /* to remove transparency */
}

.feature-box {
  padding: 5%; /* to all four sides */
}

/* Testimonail Sections */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%; /* fully round radius*/
  margin: 20px; /* all four sides */
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px; /* top bottom left-right */
}

/* Pricing Section */

#pricing {
  padding: 150px;
  font-size: 2rem;
}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
/* allready styled with a class colored-section */

/* Footer Section  */
/* allready styled with a class white-section */

.social-icon {
  margin: 20px 10px; /* top-bottom left-right */
}

/* Media query for title section, to make it more responisve or mobile friendly */

@media (max-width: 1028px) {
  /*when width is <= 1028px then following changes will be applied */
  #title {
    text-align: center;
  }

  .title-image {
    position: static; /*  */
    transform: rotate(0); /* original vertical image */
  }
}
